/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #8A8A8A;
}

/* COMMON */

.img-main{
    border-radius: 20px;
    width: 100%;
}
.container{
    padding: 3px;
    width: 1280px;
    margin: auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

section.hero, .img-banner{
    border-radius: 20px;
}

/*TAG SEMANTICI*/


main{
    margin:20px 0;
}

footer{
    height: 100px;
    background-color: blueviolet;
}

/* HEADER */

header img{
    width: 150px;
}

.nav-header{
    padding: 20px 0;
}

.nav-header li{
    display: inline-block;  
}
.nav-header a{
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 5px;  
}

.nav-header a:hover{
    color:black;
}

/* HERO */

section.hero{
    border-radius: 20px;
    height: 550px;
    width: 100%;
    background-color: black;
    margin-bottom: 10px;
}

.img-banner{
    background-image: url("../img/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    opacity: 0.9;
}



/*SECTION LAYOUT*/

section.layout{
    min-height: 500px;
    background-color: blue;
}

.head{
    min-height: 100px;
    background-color: aquamarine
}

.colonne{
    padding: 15px 0;
}

.col{
    float: left;
    width: 20%;
    min-height: 400px;
    background-color: aquamarine;
}

.col-big{
    float: left;
    width: calc(60% - 30px);
    margin: 0 15px;
    min-height: 400px;
    background-color: aquamarine
    
}

